<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="johncs2016@gmail.com">
                <network defaultCredentials="false" host="smtp.gmail.com" password="hibs2016" port="465" userName="johncs2016@gmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Security" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="404.2" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>
